.jobpostrecruiter{
    box-shadow: 2px 2px 30px 10px #e6e2e2; 
}

.jobpost_form{
    padding: 13px 13px 13px 13px;
}

.container{
    margin-top: 50px;
}

.form-group{
    padding-top: 10px;
}

input:focus
{
    outline: none;
}


.recruiterPosts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}