#loginFormContainer {
    margin: 0;
    width: 100%;
}

#loginButton, .formInput, .formLabel, #registerLink p {
    font-size: 10px;
}

#mainLoginContainer {
    height: 92vh;
}

@media(min-width: 411px) {
    #loginButton, .formInput, .formLabel, #registerLink p {
        font-size: 13px;
    }
}

@media(min-width: 768px) {
    #loginFormContainer {
        margin: auto;
        width: 50vw;
    }
    #loginButton, .formInput, .formLabel, #registerLink p {
        font-size: 15px;
    }
}

@media(min-width: 992px) {
    #loginButton, .formInput, .formLabel {
        font-size: 17px;
    }
}